html {
    font-size: 110%;
}

@media screen and (min-width: 1600px) {
    html {
        font-size: 130%;
    }
}

@media screen and (min-width: 1800px) {
    html {
        font-size: 150%;
    }
}


body {
    font-family: var(--font-family);
    font-size: var(--font-size);
    line-height: 1.8;
    color: var(--color-dark);
}

body *::selection {
    color: var(--color-light);
    background-color: var(--color-dark); 
}

section {
    margin-top: calc(var(--space) * 2);
    margin-bottom: calc(var(--space) * 2);
}

a {
    text-decoration: none;
    transition: all 0.2s;
    color: var(--color-blue)
}

a:hover {
    background-color: var(--color-blue);
    color: var(--color-light)
}

p, li, h2, h3, h4, h5, dd
{
    margin-bottom: var(--space);
}

ul, ol {
    margin-bottom: calc(var(--space) * 3);
    padding-left: 0.7rem
}

h2, h3, h4, h5 {
    margin-top: calc(var(--space)*4);
    margin-bottom: calc(var(--space)*2);
}

dt { font-weight: bold; }

h2.tick {
    color: var(--color-green)
}
h2.callout {
    font-style: italic;
    font-weight: 300;
    font-size: 1.25rem;
    text-align: right;
    margin-top: var(--space);
    margin-bottom: calc(var(--space)*3);
}

h2.success {
    color: var(--color-green);
    display: flex;
}

h2.success > div {
    display: inline-flex;
    margin-left: 55px;
}


h2.tick:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 32px;
    height: 32px;
    background: url(/tick.svg) no-repeat 50% 50%;
    background-size: contain;
    margin-left: var(--space)
}

tr {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 20px 0;
    gap: 10px;
}

td {
    display: flex;
    justify-content: flex-start;
    width: 50%;
}

tr:not(:last-child) {
    border-bottom: 1px solid var(--color-dark);
}

.text-sea p, .text-sea li {
    margin-bottom: calc(var(--space)*2);
    text-align: justify !important;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}


.embed-v {
    --aspect-ratio: 9 / 16;
    position: relative;
    padding-bottom: calc(var(--aspect-ratio, .5625) * 100%);
    height: 0;
    width: 100%;
}

.embed-v iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.layout {
    padding: var(--space);
    margin-left: auto;
    margin-right: auto;
}

select, input, textarea {
    appearance: none;

	padding: .2rem .5rem;
	border: 1px solid var(--color-dark);
	background-color: var(--color-light);
    color: var(--color-dark);
	font-size: var(--font-size-mid);
	font-family: var(--font-family);
	font-weight: 500;

	border-radius: 0;
}

select {
    cursor: pointer;

    background-image: url('/select-arrow.svg');
	background-size: 1rem;
	background-repeat: no-repeat;
	background-position: calc(100% - 0.6rem) 50%;
	padding-right: 2.2rem;
}

input[type='checkbox'] {
    width: var(--space);
    height: var(--space);
    padding: 0;
}

input[type='checkbox']:checked {
    background-color: var(--color-green);
    border-color: var(--color-green);
}

input[type="submit"] {
    border-color: var(--color-blue);
    background-color: var(--color-blue);
    color: var(--color-light);
    margin-top: var(--space);
    cursor: pointer;
    transition: 0.2s ease all;
}

input[type="submit"]:hover {
    background-color: var(--color-green);
    border-color: var(--color-green);
}

.link-clear:hover {
    background-color: transparent;
}



*[class*='grid-'] {
    --grid-gap: calc(var(--space) * 4);
    display: grid;
    gap: var(--grid-gap);
}

.grid-2{
    grid-template-columns: repeat(2, 1fr);
}

@media screen and (max-width: 570px){
    .grid-2 { grid-template-columns: 1fr; }
}

.grid-2.grid-plus .plus .st0 {
    fill: none;
    stroke: var(--color-dark);
}

.grid-2.grid-plus .plus {
    width: var(--grid-gap);
    height: var(--grid-gap);
    display: block;
}

.grid-2.grid-plus > * {
    position: relative;
}

.grid-2.grid-plus > *:not(:nth-child(4n+1)) .plus {
    display: none;
}

.grid-2.grid-plus > *:nth-child(4n+1) .plus {
    position: absolute;
    bottom: calc(var(--grid-gap) * (-1));
    right: calc(var(--grid-gap) * (-1));
}

@media screen and (max-width: 570px){
    .grid-2.grid-plus .plus {
        position: static !important;
        display: block !important;
        margin-top: var(--space);
    }
}

.tags {
    width: 100%;
}

.tags * {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: var(--space);
    font-size: 90%;
    border-bottom: 1px solid var(--color-dark);
    padding-bottom: 4px;
    position: relative;
}

.tags *:not(:last-child) {
    margin-right: calc(var(--space) * 2);
}

.tags *:before {
    content: "";
    width: 1px;
    height: 30px;
    background-color: var(--color-dark);
    transform: rotate(30deg);
    position: absolute;
    bottom: -2.5px;
    right: -8px;
}

.tags *:after {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background-color: var(--color-dark);
    position: absolute;
    bottom: 25px;
    right: -20px;
}

.tags a:hover {
    background: none;
    color: var(--color-orange)
}



.isection {
    margin-top: calc(var(--space) * 2);
}

.isection-title {
    padding: var(--space) 0;
    margin: calc(var(--space)*2) 0;
    position: relative;
}

.isection-title:before, .isection-title:after {
    content: "";
    height: 1px;
    width: 152px;
    background-color: var(--color-dark);
    position: absolute;
    left: 0;
}

.isection-title:before {
    top: 0;
}

.isection-title:after {
    bottom: 0;
}

.isection-desc {
    font-size: 90%;
}

.isection-desc ul {
    padding-left: var(--space)
}

.isection-image {
    float: right;
    width: 12rem;
    border-width: 0 0 calc(var(--space)*3) calc(var(--space)*3);
    border-style: solid;
    border-color: var(--color-light);
    box-sizing: content-box;
    position: relative;
    z-index: 10;
}

.isection-image img {
    display: block;
    max-width: 100%;
}

.isection-text * { margin-top: 0; }

@media screen and (max-width: 520px) {
    .isection-image {
        float: none;
        border: 0;
        display: block;
        margin-bottom: var(--space);
    }
}

.page-content {
    padding-bottom: calc(var(--space) * 4);
}

.media-p {
    width: 100%;
    display: inline-flex;
    padding-bottom: var(--space);
}

.media-p > * {
    display: inline;
    vertical-align: middle;
}

.media-p > *:not(:last-child) {
    padding-right: var(--space);
}

.media-p:not(:last-of-type) {
    border-bottom: 1px solid var(--color-dark);
}

