---
import { Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';

import IOT from '../assets/img/multi-agent-systems.webp';
---

<Layout
  title="Мультиагентные системы"
  description="Узнайте больше о мультиагентных системах"
  isDark
>

  <!-- Multi-agents systems -->
  <section class="mas">
    <div class="layout">
      <h1>Мультиагентные системы -</h1>
      <div class="wrapper"> 
        <p class="title-blue mas__descr">
          <span class="title-blue--light">Это команда профессионалов с многолетним опытом в IoT и умных домах.</span> <b>Мы знаем, как сделать домашнюю жизнь комфортнее, эстетичнее и безопаснее.</b></p>
        <div class="decor-image">
          <Image src={IOT} alt="iot solutions"/>
        </div>
      </div>

      <div class="wrapper"> 
          <a href="http://yourspace.multi-agent.io/" target="_blank">Умный дом YourSpace</a>
          <a href="https://shop.multi-agent.io/" target="_blank">Магазин "Железо для Киберпанков"</a>
      </div>

      <p class="mas__feecc">Помимо компетенций в сфере умных домов и IoT, наша компания занимается разработкой ПО. Информация на <a class="title-blue underline" href="https://feecc.ru/" aria-label="Узнайте больше о наших разработках" target="_blank">feecc.ru</a></p>
    </div>
  </section>

</Layout>


<style>
  h1 {
    margin-bottom: calc(var(--space) * 2);
  }

  p {
    margin-bottom: var(--space-half);
  }

  .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: var(--space);
    margin-bottom:  calc(var(--space) * 2);
  }

  .wrapper a {
    padding: calc(var(--space) * 1.5) var(--space);
    background-color: var(--text-accent);
    text-align: center;
    box-shadow: -3px 4px 0 0 #fff;
    transition: box-shadow 0.33s ease-in-out, background-color 0.3s ease-in;
  }

  .wrapper a:hover {
   background-color: #598de090;
   box-shadow: -1px 0px 3px 0 #fff;
  }


  .mas__feecc {
    max-width: 1200px;
    font-size: calc(var(--base-font-size) * 1.5);
    font-variation-settings: var(--font-flex-medium);
  }

   .mas__feecc a {
    font-variation-settings: var(--font-flex-medium);
   }

    .mas__feecc a:hover {
      color: var(--text-accent)
    }
  /* media queries */

  @media screen and (max-width: 860px) {
    .wrapper {
      grid-template-columns:  1fr;
    }
  }

  @media screen and (max-width: 460px) {
    h1 {
      font-size: calc(var(--base-font-size) * 1.8);
    }
  }
</style>