---
interface FooterProps {
  companyName: string;
  year: number;
}

const props: FooterProps = {
  companyName: "Мультиагентные системы",
  year: new Date().getFullYear(),
};
---


<footer class="footer">
  <div class="layout">
    <div class="copyright">© {props.companyName} {props.year}</div>
    <a class="underline" href="mailto:general@multi-agent.io">general@multi-agent.io</a>
  </div>
</footer>

<style is:global>
  .dark .social__link {
    filter: invert(100%);
  }
</style>

<style>
  .footer .layout {
    display: flex;
    justify-content: space-between;
    gap: var(--space);
  }

  .copyright {
    font-variation-settings:  'wght' 400, 'wdth' 148, 'opsz' 32, 'XTRA' 520, 'XOPQ' 96, 'YOPQ' 79, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738, 'YTLC' 514, 'YTUC' 712;
    color: var(--color-dark);
  }
  

  @media screen and (max-width: 800px) {
    .footer .layout {
      flex-direction: column;
    }
  }
</style>